# https://github.com/marketplace/actions/conventional-pr-title
# This is a Github Action that ensures that your PR title matches the Conventional Commits spec.
#
# This is helpful when you're using semantic-release with the Conventional Commits preset.
# When using the Squash and merge strategy, Github will suggest to use the PR title as the commit message.
# With this action you can validate that the PR title will lead to a correct commit message.


name: PR Title Lint

on:
  pull_request:
    types:
      - opened
      - reopened
      - edited
      - synchronize

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: aslafy-z/conventional-pr-title-action@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
